<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>
    <menu label=" Home" path="home.htm" imageSrc="/assets/images/home.png"/>

    <menu label=" Charts" path="#" imageSrc="/assets/images/chart.png">
        <menu label="Bar Chart" path="graph/bar-chart.htm"/>
        <menu label="Line Chart" path="graph/line-chart.htm"/>
        <menu label="Pie Chart" path="graph/pie-chart.htm"/>
    </menu>

</menu>